<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="header">
        <a class="homepage" href="/">
            <i class="fas fa-home" style="color: black;"></i>
        </a>
        <div class="title-container">
            <h1> Object Detection </h1>
            <p class="author"> Using You Only Look Once Version 8 (Yolo V8) </p>
        </div>
    </div>
    <div class="singlepage">
        <div class="containers">
                <div class="input">
                    <div class="video">
                        <img src="{{ url_for('video_feed') }}" alt="Video stream" />
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
